<div class="devise_container">

  <h4>Add Course Detail - New <%= "#{get_course_name(params[:course_id])}" %> Assignment </h4>

  <h5>Course ID: <%= "#{params[:course_id]}" %></h5>

  <%= render partial: 'form', locals: {course_detail: @course_detail, action: "create"} %>




<%# ec2019 Javascript / Rails Version --------------------------------------->%>

<button onclick="newCourseDetail()" id="fetchTeacherCourses_btn">Click to Create New Course Detail via Fetch API - Post


<div class="output-new-course-detail">


</div>




</div> <!-- End Devise Container -->

