<div class="devise_container">

  <h4>Add Course Detail - New <%= "#{get_course_name(params[:course_id])}" %> Assignment </h4>

  <h5>Course ID: <%= "#{params[:course_id]}" %></h5>

  <%= render partial: 'form', locals: {course_detail: @course_detail, action: "create"} %>




<%# ec2019 Javascript / Rails Version --------------------------------------->%>
<h4 class="blue-text"> ----  Rails with JavaScript Portfolio Project ----</h4>

Clicking this button with submit this via the Fetch Api. For demonstration purposes, the result will be appended below.
<br>
<br>
<button onclick="new_course_detail()" id="newCourseDetail_btn">Click to Create New Course Detail</button>

<div id="output_new_course_detail">


</div>




</div> <!-- End Devise Container -->

